<!DOCTYPE html>
<html>
<head>
	<title>WackyPasckies</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery-ui.js"></script>
	<script src="js/model.js"></script>
	<script src="js/browse.js"></script>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/browse.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
	</head>
<body>
<%- include('header.ejs') %>
<%- include('navigation.ejs') %>
<section id="main_section">
	<div class="container">

		<div id="tab-container">
			<div class="tab tab-selected" name="packies">PACKIES</div>
			<div class="tab" name="products">PRODUCTS</div>
		</div>

		<div id="items-heading">
			Add items to a new or existing package. <br>
			Items can also be purchased separately "Buy Now"
		</div>
		<div id="category-container">
		</div>

		<div id="items-container">
      		<div class="browse-section one-third column">
      			<img class="browse-item-img" src="img/box.jpeg">
      			<div class="browse-item-title">title</div>
      			<div class="browse-item-description">desc</div>
      			<div class="browse-add-cart">+ ADD</div>
      			<div class="browse-buy-now">BUY NOW</div>
      		</div>
		</div>

		<div id="more">
			 <button class="build-your-own-button">Build Your Own</button>
		</div>

	</div>
</section>
<%- include('footer.ejs') %>
<script>
	var categories = <%- JSON.stringify(categories) %>
	var items = <%- JSON.stringify(items) %>
	//console.log(items);
	populateCategories(categories);
	populateItems(items);

</script>
</body>

</html>